/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie<=11
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie<=11
*/

/*Variables*/
:root{
  --background-basic-green: #849D8F;
  --background-body-twice: #8996A6;
  --background-body-three:  #9D8B84;
	--basic-grey: #8996A6;
	--basic-pink: #9D8B84;
	--basic-black: #323232;
	--basic-white: #ffffff;
  --basic-link: #D07058;
  --basic-orange: #E84D37;
	--basic-dyrty-green: #5A5A5A;
	--basic-milk: #F8F7F4;
  --basic-border-color: rgba(178, 178, 178, 0.52);
  --basic-background-hover:#FBDED7;
  --basic-background-active:#F6B5A5;
  --basic-background-visited:#D07058;
  --basic-form-border: #D3D3D2;
  --basic-background-link: rgba(255, 255, 255, 0.2);
  --background-sub-menu: #EDEDED;
  --background-site-wrapper: #849d8f;
  --background-orange: #f26843;
  --background-dark-orange:  #e74a35;
  --background-line-drop: #CACAC7;
  --background-scale: #d7dcde;
  --background-toggle: #ababab;
  --background-input: #f1f1f1;
  --shadow-toggle: #cfcfcf;
}

/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
 }

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: var(--basic-white);
	background-color: var(--background-basic-green);
	background-image: url();
	background-position: top center;
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
	text-decoration: none;
	color: var(--basic-white);
}

a:hover {
  color: var(--basic-orange);
}

iframe {
  border: none;
}

input:focus {
 outline: none;
 box-shadow: 0 0 0 3px rgba(46, 136, 228, 0.52)
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1200px;
}

.container:second-child {
  position: absolute;
}

.button {
	background:  linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	border:transparent;
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 70px;
	color: var(--basic-white);
}

.slider-list .button:hover,
.button:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-list .button:active,
.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.link-header-main-logo {
  margin-top: 10px;
  margin-left: 16px;
}

.main-navigation {
	line-height: 18px;
	font-size: 16px;
	color: var(--basic-white);
	background-color: transparent;
}

.site-navigation  {
  padding: 0;
  margin-top: 24px;
	display: flex;
	list-style: none;
  text-decoration: underline;
  line-height: 13px;
}

.catalog-wrapper {
  height: 43px;
  position: relative;
  line-height: 13px;
}

.catalog-wrapper:hover .sub-menu {
  display: block;
  z-index: 30;
  line-height: 13px;
}

.sub-menu  {
  width:149px;
  padding-left: 0px;
  display:none;
	list-style: none;
  text-decoration: none;
  line-height: 13px;
  text-align: start;
  position: absolute;
  z-index: 22;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  top: 38px;
  left: 10px;
}

.sub-menu .link-new{
  color: var(--basic-black);
  font-weight: bold;
}

.line-bottom {
  width: 128px;
  height: 1px;
  background-color: var(--basic-grey);
  margin: 0 auto;
}

.sub-menu .link-new,
.sub-menu .link-fruit-ice,
.sub-menu .link-cream,
.sub-menu .link-sherbet,
.sub-menu .link-melorin {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
}

.sub-menu li:hover{
  background-color: var(--basic-background-hover);
}

.sub-menu li:active{
  background-color: var(--basic-background-active);
}

.sub-menu li:visited {
  background-color: var(--basic-background-visited);
}

.modal-search {
  min-height: 200px;
	position: absolute;
	top:39px;
  right:0px;
  display: none;
	z-index: 23;
}

.entry-link-wrapper:hover .modal-search {
  display: block;
}

@-webkit-keyframes bounce {
  0%    {transform: translateY(-2000px);}
  70%   {transform: translateY(30px);}
  90%   {transform: translateY(-10px);}
  100%  {transform: translateY(0);}
}

@keyframes bounce {
  0%    {transform: translateY(-2000px);}
  70%   {transform: translateY(30px);}
  90%   {transform: translateY(-10px);}
  100%  {transform: translateY(0);}
}

.modal-show {
  display:block;

  -webkit-animation-name: bounce;

          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%, 100%            {transform: translateX(0);}
  10%,30%,50%,70%,90% {transform: translateX(-10px);}
  20%,40%,60%,80%     {transform: translateX(10px);}
}

@keyframes shake {
  0%, 100%            {transform: translateX(0);}
  10%,30%,50%,70%,90% {transform: translateX(-10px);}
  20%,40%,60%,80%     {transform: translateX(10px);}
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.entry-link-wrapper {
  position: relative;
  margin-top: 22px;
  margin-right: 12px;
}

.entry-link-wrapper-catalog {
  margin-top: 24px;
  margin-right: 10px;
}

.form-login {
	width: 277px;
  height: 214px;
	padding-top:10px;
	background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.log-pharagraph {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 19px;
}

.form-login input {
	width: 241px;
  height: 44px;
	padding-left:17px;
  box-sizing: border-box;
	background: var(--basic-white);
  border: 1px solid var(--basic-form-border);
  border-radius: 4px;
}

.form-login button {
	left: 19px;
	bottom:22px;
	width: 103px;
  height: 44px;
	font-weight: bold;
  font-size: 18px;
  line-height: 16px;
	color:var(--basic-white);
	background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
	border:1px solid transparent;
}

.link-login-wrapper {
  display: flex;
  justify-content: space-around;
}

.link-login-wrapper button {
  margin-top: 6px;
  margin-left: 7px;
}

.block-new-reg {
  text-align: start;
}

.new-reg {
  margin: 0px;
  margin-top: 5px;
}

.forget-password {
  margin: 0;
  margin-top: 8px;
}

.block-new-reg a {
  text-decoration: underline ;
}

.form-login .link-new-reg,
.form-login .link-forget-password {
	margin: 0px;
	padding: 0px;
	width: 120px;
  color: var(--basic-black);
	font-weight: normal;
  font-size: 13px;
}

.search-block {
	position: absolute;
	top:60px;
  right:2px;
  width: 341px;
	height: 84px;
  background: var(--basic-milk);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: none;
  z-index: 30;
}

.wrapper-search{
  position: relative;
  margin-top: 2px;
  margin-right: 10px;
	border-radius:50%;
}

.wrapper-search:hover .search-block {
  display: block;
}


.search-input {
	margin:20px 15px;
	padding-left: 15px;
	width: 311px;
	height: 44px;
  box-sizing: border-box;
	background: var(--basic-white);
  border: 1px solid #D3D3D2;
  border-radius: 4px;
}

.main-navigation a,
.site-navigation a,
.private-office a {
	display: block;
	padding-top: 8px;
	padding-right: 14px;
	padding-bottom: 11px;
	padding-left: 14px;
	color: var(--basic-white);
}

.site-navigation .link-katalog:hover,
.site-navigation .link-katalog:focus,
.site-navigation .link-send:hover,
.site-navigation .link-send:focus,
.site-navigation .link-info:hover,
.site-navigation .link-info:focus {
  height: 34px;
	background-color: var(--basic-white);
  border-radius: 26px;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 13px;
  font-weight: bold;
}

.link-katalog {
  margin-left: 10px;
}


.link-katalog:active {
  color: var(--basic-black);
  background: var(--background-sub-menu);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.link-visited-katalog {
  border-radius: 20px;
  background-color: var(--basic-background-visited);
}

.link-send {
  margin-left: 5px;
}

.link-info {
  margin-left: 4px;
}


.link-search,
.link-login,
.link-busket {
  display: block;
	position: relative;
}

.link-search {
  margin-top: 21px;
  background-color: var(--basic-background-link);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.link-login {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: var(--basic-background-link);
  width: 90px;
  height: 32px;
}

.link-search:hover,
.link-login:hover{
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.link-login span{
  padding-left: 26px;
}

.link-busket{
  margin-top: 22px;
  margin-right:16px;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: var(--basic-background-link);
}

.link-busket span{
  padding-top: 8px;
  padding-left: 25px;
}

.link-full-buscket {
  margin: 0px;
  width:118px;
  background-color: var(--basic-white);
}

.link-full-buscket span {
color: var(--basic-black);
}

.link-full-buscket span{
  padding-left: 26px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

.link-search::before {
	content: "";
	position: absolute;
	left:8px;
  top:8px;

	width: 16px;
  height: 16px;
	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.link-search:hover::before,
.link-search:focus::before,
.link-search:active::before,
.link-login:hover::before,
.link-login:focus::before,
.link-login:active::before,
.link-busket:hover::before,
.link-busket:focus::before,
.link-busket:active::before
{
  opacity: 1;
}


.link-login::before {
	content: "";
	position: absolute;
	left: 13px;
  top: 6px;

	width: 20px;
	height: 19px;
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.link-busket::before {
	content: "";
	position: absolute;
  left:15px;
  top: 7px;

	width: 22px;
  height: 22px;
	background-image: url("../img/emp-busk.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}


.link-full-buscket::before {
	content: "";
  position: absolute;
  left:14px;
  top: 5px;

	width: 23px;
  height: 23px;
	background-image: url("../img/full-busk.svg");
	background-repeat: no-repeat;
	opacity: 1;
}

.link-full-buscket:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.wrapper-search:hover .link-search::before {
  background-image: url("../img/dark-loupe.svg");
  background-repeat: no-repeat;
}

.time-working p {
	line-height: 16px;
	font-size: 14px;
  font-weight: bold;
	color: var(--basic-white);
  margin-bottom: 8px;
}

.time-working a {
	line-height: 24px;
	font-size: 22px;
	font-weight: bold;
	color: var(--basic-white);
}

.site-wrapper {
	min-width: 940px;
	background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
	background-color: var(--background-site-wapper);
  background-image: url('../img/image-slader1.png');
}

.site-wrapper-2 {
  background-color: var(--background-site-wapper);
	background-image: url('../img/image-slader2.png');
}

.site-wrapper-3 {
  background-color: var(--background-site-wapper);
	background-image: url('../img/image-slader3.png');
}

.slider {
	position: relative;
	padding-top: 321px;
	text-align: center;
	color: var(--basic-white);
	margin-bottom: 41px;
}

.slider-list {
	padding:0;
	margin: 0;
	list-style: none;
}

.slide {
	display: none;
}

.slide-current {
	display:block;
}

.slide-title {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-top: -7px;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-list .button {
  display: inline-block;
  padding:5px;
  left: 450px;
  height: 58px;
  width: 278px;
  padding: 0 auto;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: var(--background-orange);
  background: linear-gradient(to bottom,  var(--background-orange), var(--background-dark-orange));
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 1px solid transparent;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-controls {
	position: absolute;
  bottom: 20px;
  left: 14px;
  z-index: 20;
  display: flex;
  width: 83px;
  justify-content: space-around;
}

.slider-controls button {
	padding: 0;
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: 2px solid var(--basic-white);
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls button:hover{
    background-color: var(--basic-background-link);
}

.slider-controls .current {
	background-color: var(--basic-white);
}

.offers-item h2 {
	color: var(--basic-white);
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
}

.offers-item p {
	color: var(--basic-white);
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	padding-left: 16px;
}

.offers-item-rassbery {
	width: 560px;
	height: 229px;
	background-color: var(--basic-white);
	background-image: url('../img/background-rassbery.jpg');
	border-radius: 16px;
	position: relative;
}

.button-offer-rassbery {
	position: absolute;
	left: 374px;
	bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width:164px;
  height: 48px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
}

.button-offer-choclate {
  position: absolute;
  left: 347px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	height: 48px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
}

.offers-item-choclate {
	width: 560px;
	height: 229px;
	background-color: var(--basic-black);
	background: url('../img/background-cochlate.jpg');
	border-radius: 16px;
	position: relative;
}

.describe-shop div {
	width: 1146px;
	height: 306px;
	background-image: url('../img/background-waffle.jpg');
	background-repeat: repeat;
	border: 1px solid transparent;
	border-radius: 16px;
}

.describe-shop h1 {
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
	color:var(--basic-black);
	margin-top: 24px;
	margin-left: 10px;
}

.describe-shop ul {
  position: relative;
	list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap:25px;
       column-gap:25px;
  row-gap: 20px;
}

.describe-shop li {
	width: 515px;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);
	font-style: normal;
	font-weight: normal;
	flex-grow: 1;
}

.flex-element-1 {
  padding-left: 37px;
	order:1;
}

.flex-element-1::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 8px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat:no-repeat;
}

.flex-element-2 {
  padding-left: 23px;
  padding-top: 0px;
	order:2;
}

.flex-element-2::before {
  content: "";
  position: absolute;
  top: 79px;
  left: 9px;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat:no-repeat;
}

.flex-element-3 {
  padding-left: 23px;
}

.flex-element-3::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 575px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat:no-repeat;
}

.flex-element-4 {
  padding-left: 36px;
	order: 4;
}

.flex-element-4::before {
  content: "";
  position: absolute;
  top: 79px;
  left: 575px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat:no-repeat;
}

.blog  {
	width: 560px;
	height: 220px;
	background-image: url('../img/background-strawwbery.jpg');
	background-repeat: no-repeat;
	border-radius: 16px;
	border: 1px solid transparent;
}

.blog p {
	margin-top: 18px;
	margin-left: 20px;
	margin-bottom: 0px;
	line-height: 22px;
	font-size: 16px;
	font-weight: 500;
	color: var(--basic-black);
}

.blog h2 {
	margin-top: 4px;
	margin-left: 20px;
	font-style: normal;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	color: var(--basic-black);
	text-decoration: underline;
}

.background-send {
	width: 558px;
  height: 218px;
  background: url('..//img/background-send.svg');
  border: 1px solid transparent;
}

.subscribe,
.form-subscribe {
	width: 546px;
	height: 208px;
	border: 1px solid transparent;
}

.subscribe{
	position: relative;
	background-color: var(--basic-milk);
	border: 1px solid transparent;
	border-radius: 16px;
	margin: 5px 6px 5px 6px;
}

.offer-subscribe {
  margin-top: 24px;
	margin-left: 15px;
	color: var(--basic-dyrty-green);
	font-size: 16px;
	line-height: 22px;
	font-weight: inherit;
	font-style: normal;
}

.subscribe  .e-mail {
  position: absolute;
	margin-left: 15px;
  margin-bottom: -3px;
  padding-top: 3px;
  padding-left: 13px;
  bottom: 36px;
  width: 368px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--basic-border-color);
	}

.button-send {
	position: absolute;
  left: 395px;
  bottom: 33px;
	width: 130px;
  height: 44px;
	font-size:18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.info-work {
	position: absolute;
	left: 870px;
	top: 61px;
	width: 303px;
	height: 306px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	border-radius: 16px;
	border:1px solid transparent;
}

.info-work h3 {
	margin-top: 30px;
	margin-left: 25px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
}

.info-work p {
	font-size: 14px;
	line-height: 20px;
}

.info-work address {
	margin-top: 0px;
	margin-left: 25px;
	margin-bottom: 30px;
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
}

.order-phone {
  margin: 0px;
	margin-top: -10px;
	margin-left: 22px;
}

.info-work  a {
  display: inline-block;
	position: relative;
	margin-top: 3px;
	margin-left: 23px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: var(--basic-black);
}

.info-work .time {
  margin: 0px;
  margin-left: 23px;
  margin-top: 1px;
}

.info-work .button-feedback {
	position: absolute;
	bottom: 29px;
	color: var(--basic-white);
	width: 253px;
	height: 43px;
	display: flex;
  text-align: center;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.wrapper-feedback-on {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.48);

}

.info-list  {
	list-style: none;
}

.info-list h2 {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.info-list li {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}

.info-list li:hover,
.info-list li:hover a {
  color: var(--basic-orange);
}

.logo {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

/*Style for Catalog*/

.table-basket {
  position: absolute;
  right: 4px;
  top:34px;
	width: 539px;
  height: 242px;

	background-color: var(--basic-milk);
	color: var(--basic-black);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: none;
  z-index: 2;
}

.block-link-busket{
  position: relative;
  top: 0px;
  margin-top: 24px;
  margin-right: 12px;
  width: 122px;
}

.block-link-busket:hover .table-basket {
  display:block;
}

.main-table {
  position: relative;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.main-table .table-column-1 {
  width: 36px;
}

.main-table .table-column-2 {
  width: 38px;
  padding-top: 16px;
}

.main-table .table-column-3 {
  width: 233px;
  text-align: start;
  padding-top: 14px;
  padding-left: 6px;
}

.main-table .table-column-4 {
  width: 130px;
  padding-top: 14px;
}

.main-table .table-column-5 {
  width: 72px;
 padding-top: 14px;
}

.table-rows-2 .table-column-3 {
  padding-top: 24px;
}

.table-rows-2 .table-column-4,
.table-rows-2 .table-column-5 {
  padding-top: 8px;
}

.prise-table {
  color: var(--basic-grey)
}

.main-table .delete-item::before {
  position: absolute;
  content: "";
  margin-top:-4px;
  width: 10px;
  height: 10px;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
}

.main-table img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.line-drop {
  position: absolute;
  bottom: 112px;
  left: 15px;
  width: 510px;
  height: 0px;
  border: 1px solid var(--background-line-drop);
}

.summ-shop {
  position: absolute;
  right: 20px;
  bottom: 65px;
  font-size: 15px;
  line-height: 16px;
  font-weight: bold;
}

.button-for-table {
  position: absolute;
  bottom: 24px;
  right: 16px;
  width: 172px;
  height: 44px;
  line-height: 28px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


.bread-crumbs {
  position: relative;
  display: flex;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 3px;
  padding-left: 17px;
	list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.bread-crumbs li:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 5px;
  margin-left: -13px;
  width: 6px;
  height: 6px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
}

.bread-crumbs a {
	padding-right: 22px;
}

.title-current-page {
  margin: 0;
  padding-left: 17px;
  line-height: 41px;
	font-size: 35px;
	font-weight: bold;
}

.filter {
	font-size: 16px;
	line-height: 18px;
	font-style: normal;
	font-weight: 500;
	color: var(--basic-white);
}

.filter legend {
	font-size: 14px;
  line-height: 16px;
	font-style: normal;
	font-weight: 500;
}

.sort-legend {
  position: relative;
  padding-top: 27px;
  padding-left: 34px;
}

.cost-legend {
  margin: 0px;
  padding-top: 27px;
  margin-left: 32px;
}

.fat-legend {
  margin: 0px;
  padding: 0px;
  padding-top: 27px;
  padding-left: 16px;
}

.additives {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.additives-legend {
  margin: 0px;
  padding: 0px;
  padding-top: 12px;
  margin-left: 33px;
}

.form-filter {
	display: flex;
	flex-wrap: wrap;
	width: 900px;
}

.popular-pattern-input {
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-left: 16px;
  width: 196px;
  height: 36px;
  padding-left: 13px;
  padding-top: 1px;
  border-radius: 20px;
  color: var(--basic-white);
  background-color:  var(--basic-background-link);
  background-image: url("../img/icon-down-dir-white.svg");
  background-position: 172px 15px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.popular-pattern-input:hover {
  background-image: url("../img/icon-down-dir.svg");
  background-position: 172px 15px;
  background-repeat: no-repeat;
}

.popular-pattern-input:hover {
    color: var(--basic-black);
  }

.range-filter {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  width:249px;
  padding-left: 16px;
}

.range-controls{
  position: relative;
  height: 36px;
  background-color: var(--basic-background-link);
  border-radius: 5px;
  padding-top: 16px;
  padding-right: 21px;
  padding-left: 21px;
  margin-top: 4px;
  margin-right:15px;
  border-radius: 20px;
}

.range-controls .scale {
    height:2px;
    background: var(--background-scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--background-toggle);
  box-shadow: 0 2px 1px 0 var(--shadow-toggle);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 62%;
}

.range-controls .toggle-min {
  left: 17%;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--background-input);
  font-family: inherit;
  font-size: inherit;
}

.range-filter{
	margin: 0px;
}

.filter fieldset {
  border:none;
  margin: 0;
  padding: 0;
}

.price ul,
.choise-precent-fat ul,
.additives ul{
	display: flex;
	list-style: none;
}

.list-fat {
  position: relative;
  width: 425px;
  height:36px;
  margin: 0px;
  padding: 0px;
  margin-top: 6px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: var(--basic-background-link);
}

.list-fat-element {
  top: 7px;
  margin-right: 8px;
  margin-left: 14px;
}

.radio-input + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.list-fat-element:hover ::before,
.list-fat-element:hover ::after{
  opacity: 1.2;
}


.radio-label {
  position: relative;
  top: 8px;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 31px;
}

.list-filler {
  position: relative;
  margin: 0px;
  padding: 0px;
  margin-top: 9px;
  margin-left: 17px;
  padding-left: 17px;
  padding-top: 8px;
  width: 711px;
  text-align: center;
  height: 36px;
  border-radius: 20px;
  background-color: var(--basic-background-link);
}

.list-filler li {
  margin-right: 22px;
}

.list-filler-element-3{
  margin-left:2px;
}

.list-filler-element-4{
  margin-left:5px;
}

.check-label{
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 31px;
}

.radio-input,
.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-input + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 25px;
  height: 22px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  border-radius:2px;
  opacity: 0.7;
}

.check-input:checked + label::after {
  content: "";
  position:absolute;
  top: -1px;
  left: 0px;
  width: 27px;
  height: 22px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  margin-left: -2;
  opacity: 0.7;
}

.list-filler li:hover ::after,
.list-filler li:hover ::before{
  opacity: 1.2;
}

.button-filter {
  margin-top: 37px;
  margin-left: 14px;
	width: 144px;
  height: 36px;
  color: var(--basic-white);
	background: var(--basic-background-link);
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
  border-radius: 20px;
}

.button-filter:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 3px;
	list-style: none;
}

.order-list li {
  	position: relative;
    display: flex;
    flex-direction: column;
  	width: 261px;
    margin-right: 14px;
    margin-left: 18px;
  	margin-bottom:19px;
}


.order-list .link-order-img {
  order:1;
  width: 267px;
}

.order-list .link-order-title {
  width: inherit;
  height: 69px;
  padding-top: 2px;
  order: 2;
}

.order-list li::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  top:0px;
}

.order-list .fast-view {
  margin-bottom: 10px;
  order:3;
}

.order-list h3 {
  margin-top: 0px;
  padding: 4px 3px;
	font-family: "Roboto", "Arial", sans-serif;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-white);
}

.order-list .cut {
  margin: 0;
  position: absolute;
  left: 0px;
  bottom: 87px;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-white);
}

.weight-style {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.order-list img {
	width: 267px;
	height: 267px;
	border-radius: 50%;
}

.fast-view {
  margin: 0 auto;
	width: 200px;
	height: 44px;
	border-radius: 50px;
  box-shadow: 0px 1px 2px #AC1000;
  display: none;
	bottom: -50px;
	left:30px;
	z-index: 25;
}

.wrapper-fast-view {
  order:4;
  display: flex;
  justify-content: center;
  width: 293px;
}

.order-list li:hover .wrapper-fast-view {
  display: flex;
  align-items: flex-end;
  padding: 0 30px;
  width:inherit;
  height: 380px;
	background-color: var(--basic-background-link);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
 	border-radius: 4px;
  z-index: 26;
  position: absolute;
}

.order-list li:hover  .fast-view {
  width: inherit;
  display: block;
}

.navigation-page {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 38px;
  margin-bottom: 33px;
  padding-right: 7px;
  border: 1px solid transparent;
}

.navigation-page a {
  padding: 0 10px;
  display: inline-block;
  min-width:28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  color: var(--basic-white);
}

.link-navigation-page:hover,
.link-navigation-next:hover {
  color: var(--basic-black);
  border-radius: 50%;
  background-color:  var(--basic-background-link);
}

.link-navigation-page:active,
.link-navigation-next:active{
  background-color: var(--basic-white);
}

.link-navigation-next{
  text-indent: -1000px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.link-navigation-back{
  text-indent: -1000px;
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-page .current{
  color:var(--basic-black);
  background-color: var(--basic-white);
}

.navigation-page .navigation-page-element-1{
  margin-right: 9px;
}

.navigation-page .navigation-page-element-7{
  margin-left: 7px;
}

.contacts {
	padding: 0;
	margin: 0 -10px;
	border: 1px solid transparent;
	position: relative;
	width: 1200px;
}

.fb-icon,
.vk-icon,
.inst-icon,
.twit-icon {
	position: relative;
}

.fb-icon::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.vk-icon::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
}

.inst-icon::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
}

.twit-icon::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
}
/*Grid*/

.page {
	height: 100%;
}

.page-body {
	display: grid;
	height: 100%;
	grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
	grid-template-rows: min-content 1fr min-content;
	align-content: flex-start;
}

.background-body-twice {
  background-color: var(--background-body-twice);
}

.background-body-three {
  background-color: var(--background-body-three);
}


.main-header {
    margin:0 auto;
    display: flex;
  	justify-content: space-between;
    border: 1px solid transparent;
    position: relative;
  }

 .main-navigation{
 	flex-grow: 2;
 }

.main-navigation a{
 	flex-grow: 1;
 }


.private-office {
  position: relative;
	display: flex;
	justify-content: flex-end;
	text-align: center;
	line-height: 16px;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}

.time-working {
  position: absolute;
  top: 62px;
  right: 26px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  flex-grow: 1;
}

.offers {
	display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.main-footer {
	display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.social-list  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
	-moz-column-gap: 10px;
	     column-gap: 10px;
       width: 167px;
       height: 33px;
       margin-top: 26px;
       margin-left: 19px;
       padding: 0;
  list-style: none;
	font-size: 13px;
}

.social-list li {
  opacity: 0.7;
}

.social-list li:hover,
.social-list li:active {
  opacity: 1.2;
}

.info-list {
  position: relative;
  padding: 0px;
  margin-top: 22px;
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	width:360px;
}


.flex-info-list-1::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  top: 4px;
  left: 17px;
}

.flex-info-list-1 {
  margin-right: 33px;
  margin-left: 40px;
	order:1;
}

.flex-info-list-2 {
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 15px;
	order:3;
}

.flex-info-list-3 {
  padding-top:1px;
	order:2;
}

.flex-info-list-4 {
  margin-top: 4px;
  padding-left: 31px;
	order:4;
}

.copyright {
	display: flex;
	flex-direction: column;
  align-items: flex-end;
  margin-top: -4px;
}

.copyright img {
	margin-top: 11px;
	margin-right: 99px;
}

.copyright .copyright-logo {
  margin: 0px;
  margin-top: 2px;
}

.link-copyright-logo {
  margin: 0px;
  margin-right: 17px;
  margin-top: 1px;
  font-size: 12px;
  line-height: 18px;
}

.feedback-block {
  position:fixed;
  top: 200px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 0 auto;
	width: 477px;
  height: 441px;
	font-weight: bold;
  color: var(--basic-black);
	background-color: var(--basic-milk);
	border-radius: 6px;
  display: none;
}

.modal-show {
  display: block;
}

.feedback-block h2 {
	 height: 30px;
	 margin: 0px;
	 margin-top: 20px;
	 margin-bottom: 26px;
   font-size: 24px;
	 line-height: 28px;
	 margin-left: 25px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
}

.appointment-item {
	margin:0;
	margin-left: 25px;
	margin-bottom: 20px;
	width: 267px;
	height: 44px;
}

.form-question {
	margin-top: 0px;
	padding: 0px;
	height: 155px;
}

#question {
  margin-top:0px;
  padding-left: 14px;
	width: 428px;
	height: 154px;
	margin:0 25px;
  border: 1px solid transparent;
}

.appointment-form input {
	border-radius: 4px;
	width: 267px;
	height: 44px;
	background: var(--basic-white);
  border: 1px solid var(--basic-border-color);
  box-sizing: border-box;
  padding-left: 14px;
}

.appointment-form textarea {
	padding-top:0px;
	width: 428px;
  height: 154px;
	border-radius: 4px;
	background: var(--basic-white);
  border: 1px solid var(--basic-border-color);
  box-sizing: border-box;
}

.appointment-form button {
	position: absolute;
	color: var(--basic-white);
	font-weight: bold;
  font-size: 18px;
  line-height: 24px;
	width: 140px;
  height: 44px;
	right:25px;
	bottom:27px;
	background: linear-gradient(180deg, var(--background-orange) 0%, var(--background-dark-orange) 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
	border: 1px solid transparent;
}

.close-feedback::before {
	content: "";
	position: absolute;
	background-image: url("../img/cross-big.svg");
	background-repeat: no-repeat;
	width: 18px;
	height: 17px;
	top:15px;
	right:26px;
}

.wrapper-blog-describe {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px 17px;
}
