/*Variables*/
:root{
	--basic-green: #849D8F;
	--basic-grey: #8996A6;
	--basic-pink: #9D8B84;
	--basic-black: #323232;
	--basic-white: #ffffff;
	--basic-link: #D07058;
	--basic-dyrty-green: #5A5A5A;
	--basic-milk: #F8F7F4;
  --basic-border-color: rgba(178, 178, 178, 0.52);
  --basic-background-hover:#FBDED7;
  --basic-background-active:#F6B5A5;
  --basic-background-visited:#D07058;

}

/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
 }

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: var(--basic-white);
	background-color: var(--basic-green);
	background-image: url();
	background-position: top center;
	background-repeat: no-repeat;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: var(--basic-white);
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1200px;
}

.container:second-child {
  position: absolute;
}



.button{
	background:  linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	border:transparent;
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 70px;
	color: var(--basic-white);
}
.slider-list .button:hover,
.button:hover {
  background: -webkit-linear-gradient(#f58669, #ec6f5e);
  background: -o-linear-gradient(#f58669, #ec6f5e);
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-list .button:active,
.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.link-header-main-logo {
  margin-top: 8px;
  margin-left: 16px;
}

.main-navigation {
	line-height: 18px;
	font-size: 16px;
	color: var(--basic-white);
	background-color: transparent;
}

.site-navigation  {
  padding: 0;
  margin-top: 19px;
	display: flex;
	list-style: none;
	text-decoration: underline;
}

.catalog-wrapper {
  position: relative;
}


.catalog-wrapper:hover .sub-menu {
  display: block;
}

.sub-menu  {
  width:143px;
  padding-left: 0px;
  margin-top:5px;
  display:none;
	list-style: none;
  text-decoration: none;
  text-align: center;
  position: absolute;
  z-index: 22;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);

}


.sub-menu .link-new{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-black);
  font-weight: bold;
}

.sub-menu .link-new,
.sub-menu .link-fruit-ice,
.sub-menu .link-cream,
.sub-menu .link-sherbet,
.sub-menu .link-melorin {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
}

.sub-menu li:link {
  background-color: var(--basic-white);
}

.sub-menu li:visited {
  background-color: var(--basic-background-visited);

}

.sub-menu li:hover{
  background-color: var(--basic-background);
}

.sub-menu li:active {
  background-color:var(--basic-background-active);
}

.modal-search {
  min-height: 200px;
	position: absolute;
	top:50px;
  right:127px;
  display: none;
	z-index: 23;
}

.entry-link-wrapper {
  margin-top: 21px;
}

.entry-link-wrapper:hover  .modal-search {
  display: block;
}

.form-login {
	width: 277px;
  height: 214px;
	background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
	padding-top:10px;
}

.form-login input {
	width: 241px;
  height: 44px;
	background: var(--basic-white);
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
	padding-left:17px;
}

.form-login button {
	left: 19px;
	bottom:22px;
	width: 103px;
  height: 44px;
	font-weight: bold;
  font-size: 18px;
  line-height: 16px;
	color:var(--basic-white);
	background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
	border:1px solid transparent;
}

.link-login-wrapper {
  display: flex;
  justify-content: space-around;
}

.link-login-wrapper button {
  margin-top: 10px;
}

.block-new-reg {
  text-align: start;
}

.block-new-reg a {
  text-decoration: underline ;
}

.form-login .link-new-reg,
.form-login .link-forget-password {
  color: var(--basic-black);
	margin: 0px;
	padding: 0px;
	width: 120px;
	color:var(--basic-black);
	font-weight: normal;
  font-size: 13px;
}

.search-block {
	position: absolute;
	top:50px;
  right:225px;
  width: 341px;
	height: 84px;
  background: var(--basic-milk);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: none;
}

.wrapper-search{
  margin-top: 22px;
	border-radius:50%;
	height: 32px;
  width: 32px;
}

.wrapper-search:hover .search-block {
  display: block;
}

.wrapper-search:hover {
	background-color: var(--basic-white);
}

.search-input {
	margin:20px 15px;
	padding-left: 15px;
	width: 311px;
	height: 44px;
	background: var(--basic-white);
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
}

.main-navigation a,
.site-navigation a,
.private-office a {
	color: var(--basic-white);
	display: block;
	padding-top: 9px;
	padding-bottom: 11px;
	padding-right: 14px;
	padding-left: 14px;
}

.site-navigation .link-katalog:hover,
.site-navigation .link-catalog:focus,
.site-navigation .link-send:hover,
.site-navigation .link-send:focus,
.site-navigation .link-info:hover,
.site-navigation .link-info:focus
{
	background-color: var(--basic-white);
  border-radius: 26px;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.link-katalog {
  margin-left: 10px;
}

.link-send {
  margin-left: 5px;
}

.link-info {
  margin-left: 4px;
}


.link-search,
.link-login,
.link-busket {
  display: block;
	position: relative;
}



.link-login {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90px;
  height: 32px;
}

.link-busket:hover,
.link-login:hover{
  color: var(--basic-black);
  background-color: var(--basic-white);

}

.link-login span{
  padding-left: 30px;
}

.link-busket{
  margin-top: 21px;
  margin-right:16px;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
}

.link-busket span{
  padding-left: 15px;
}

.link-full-buscket {
  width:118px;
}
.link-full-buscket span{
  padding-left: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}



.link-search::before {
	content: "";
	position: absolute;

	width: 16px;
	height: 16px;
	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
	left:8px;
	top:8px;
}

.link-search:hover::before,
.link-search:focus::before,
.link-search:active::before
{
	opacity: 1;
}


.link-login::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 19px;
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	left: 15px;
  top: 6px;
	opacity: 0.3;
}

.link-busket::before {
	content: "";
	position: absolute;
	width: 12.76px;
  height: 8.97px;
	background-image: url(../img/busket-empyty.png);
	background-repeat: no-repeat;
	opacity: 0.3;
  left:19px;
  top: 7px;
}


.time-working p {
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-white);
  font-weight: bold;
  margin-bottom: 8px;
}

.time-working a {
	font-size: 22px;
	line-height: 24px;
	color: var(--basic-white);
	font-weight: bold;
}

.site-wrapper {
	min-width: 940px;
	background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
	background-color: #849d8f;
	background-image: url('../img/image-slader(1).png');
}

.site-wrapper-2 {
	background-image: url('../img/image-slader(2).png');
}

.site-wrapper-3 {
	background-image: url('../img/image-slader(3).png');
}

.slider {
	position: relative;
	padding-top: 321px;
	text-align: center;
	color: var(--basic-white);
	margin-bottom: 40px;
}

.slider-list {
	padding:0;
	margin: 0;
	list-style: none;
}

.slide {
	display: none;
}

.slide-current {
	display:block;
}

.slide-title {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-list .button {
  display: inline-block;
  padding:5px;
  left: 450px;
  height: 58px;
  width: 278px;
  padding: 0 auto;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 1px solid transparent;
  cursor: pointer;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 20px;
	z-index: 20;
	display: flex;
	width: 70px;
	justify-content: space-between;
}

.slider-controls button {
	padding: 0;
	width: 17px;
	height: 17px;
	background-color: transparent;
	border: 2px solid var(--basic-white);
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .current {
	background-color: var(--basic-white);
}

.offers-item h2 {
	color: var(--basic-white);
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.offers-item p {
	color: var(--basic-white);
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	padding-left: 16px;
}

.offers-item-rassbery {
	width: 560px;
	height: 229px;
	background-color: var(--basic-white);
	background-image: url('../img/background-rassbery.jpg');
	border-radius: 16px;
	position: relative;
}

.button-offer-rassbery {
	display: flex;
	align-items: center;
	justify-content: center;
	width:164px;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
	position: absolute;
	left: 374px;
	bottom: 20px;
}

.button-offer-choclate {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	height: 48px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  left: 347px;
	bottom: 20px;
}


.offers-item-choclate {
	width: 560px;
	height: 229px;
	background-color: var(--basic-black);
	background: url('../img/background-cochlate.jpg');
	border-radius: 16px;
	position: relative;
}

.describe-shop div {
	width: 1146px;
	height: 306px;
	background-image: url('../img/background-waffle.jpg');
	background-repeat: repeat;
	border: 1px solid transparent;
	border-radius: 16px;
}

.describe-shop h1 {
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
	color:var(--basic-black);
	margin-top: 24px;
	margin-left: 20px;
}
.describe-shop ul {
	list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:25px;
  row-gap: 20px;
  position: relative;
}

.describe-shop li {
	width: 515px;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);
	font-style: normal;
	font-weight: normal;
	flex-grow: 1;
}



.flex-element-1 {
  padding-left: 37px;
	order:1;
}

.flex-element-1::before{
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat:no-repeat;
  top: -10px;
  left: 8px;
}

.flex-element-2 {
  padding-left: 23px;
  padding-top: 0px;
	order:2;
}

.flex-element-2::before{
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat:no-repeat;
  top: 79px;
  left: 9px;
}


.flex-element-3 {
  padding-left: 23px;

}

.flex-element-3::before{
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat:no-repeat;
  top: -10px;
  left: 575px;
}

.flex-element-4 {
  padding-left: 36px;
	order: 4;
}

.flex-element-4::before{
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat:no-repeat;
  top: 79px;
  left: 575px;
}

.blog  {
	width: 560px;
	height: 220px;
	background-image: url('../img/background-strawwbery.jpg');
	background-repeat: no-repeat;
	border-radius: 16px;
	border: 1px solid transparent;
}

.blog p {
	margin-left: 20px;
	margin-top: 18px;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-black);

}

.blog h2 {
	margin-top: 0px;
	margin-left: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
	text-decoration: underline;
}

.background-send {
	width: 558px;
    height: 218px;
    background: url('..//img/background-send.svg');
    border: 1px solid transparent;
}

.subscribe,
.form-subscribe {
	width: 546px;
	height: 208px;
	border: 1px solid transparent;
}

.subscribe{
	background-color: var(--basic-milk);
	border: 1px solid transparent;
	border-radius: 16px;
	margin: 5px 6px 5px 6px;
	position: relative;
}

.offer-subscribe {
  margin-top: 20px;
	margin-left: 15px;
	color: var(--basic-dyrty-green);
	font-size: 16px;
	line-height: 22px;
	font-weight: inherit;
	font-style: normal;
}

.subscribe  .e-mail {
	margin-left: 15px;
  width: 368px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 13px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  position: absolute;
  bottom: 36px;
  padding-top: 3px;
  margin-bottom: -3px;
	}


.button-send {
	font-size:18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	width: 130px;
  height: 44px;
  bottom: 33px;
  left: 395px;
}

.info-work {
	background-color: var(--basic-white);
	width: 303px;
	height: 306px;
	color: var(--basic-black);
	border-radius: 16px;
	border:1px solid transparent;
	position: absolute;
	left: 870px;
	top: 61px;
}


.info-work h3 {
	margin-top: 30px;
	margin-left: 25px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
}

.info-work p {
	font-size: 14px;
	line-height: 20px;
}

.info-work address {
	margin-top: 0px;
	margin-left: 25px;
	margin-bottom: 30px;
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
}

.order-phone {
  margin: 0px;
	margin-top: -10px;
	margin-left: 22px;
}

.info-work  a {
	margin-top: 0px;
	margin-left: 23px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: var(--basic-black);
	position: relative;
}

.info-work .time {
  margin: 0px;
  margin-left: 23px;
  margin-top: 1px;
}

.info-work .button-feedback {
	color: var(--basic-white);
	position: absolute;
	width: 253px;
	height: 43px;
	bottom: 29px;
  text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
 /*Не выходит сделать логику всплывающего окна*/
.button-feedback:hover .feedback-block {
  display: block;
}

.info-list  {
	list-style: none;
}

.info-list h2 {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.info-list li {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}

.logo {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}


/*Style for Catalog*/

.table-basket {
  position: absolute;
  right: 380px;
  top:50px;
	width: 539px;
	height: 242px;
	background-color: var(--basic-milk);
	color: var(--basic-black);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: none;
}

.link-busket:hover .table-basket {
  display:block;
}
.bread-crumbs {
	list-style: none;
  display: flex;
  padding: 0;
  padding-left: 17px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 18px;
  margin-bottom: 3px;
}

.bread-crumbs a {
	padding-right: 22px;
}

.title-current-page {
	font-weight: bold;
	font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding-left: 17px;
}


.filter {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.filter legend {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
  line-height: 16px;
}

.sort-legend {
  padding-top: 27px;
  padding-left: 34px;
}

.cost-legend{
  margin: 0px;
  margin-top: 27px;
  margin-left: 32px;
}

.fat-legend {
  margin: 0px;
  padding: 0px;
  margin-top: 27px;
  padding-left: 16px;
}

.additives{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.additives-legend{
  margin: 0px;
  padding: 0px;
  margin-top: 12px;
  margin-left: 33px;
}


.form-filter {
	display: flex;
	flex-wrap: wrap;
	width: 900px;
}



.popular-pattern-input {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 16px;
  width: 196px;
  height: 36px;
  padding-left: 11px;
  padding-top: 1px;
  border-radius: 20px;
  background-color:  rgba(255, 255, 255, 0.2);
}

.range-filter {
  margin: 0px;
  padding: 0px;
  width:249px;
  padding-left: 16px;
}

.range-controls{
  position: relative;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding-top: 16px;
  padding-right: 21px;
  padding-left: 21px;
  margin-top: 7px;
  margin-right:15px;
  border-radius: 20px;
}

.range-controls .scale {
    height:2px;
    background: #d7dcde;
}

.range-controls .bar{
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle{
  position: absolute;
  top: 10px;
  left: 18px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-max{
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.range-filter{
	margin: 0px;
}

.filter fieldset {
  border:none;
  margin: 0;
  padding: 0;
}

.price ul,
.choise-precent-fat ul,
.additives ul{
	display: flex;
	list-style: none;
}

.list-fat {
  width: 425px;
  height:36px;
  margin: 0px;
  padding: 0px;
  margin-top: 6px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.list-fat-element {
  margin-left: 14px;
 margin-top: 7px;
}

.list-filler {
  margin: 0px;
  padding: 0px;
  margin-top: 9px;
  margin-left: 17px;
  padding-left: 17px;
  padding-top: 8px;
  width: 711px;
  text-align: center;
  height: 36px;
  border-radius: 20px;
  background-color:  rgba(255, 255, 255, 0.2);
}

.list-filler-element {
  margin-right: 27px;
}

.button-filter {
  margin-top: 37px;
  margin-left: 14px;
	width: 144px;
	height: 36px;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
}

.order-list {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 25px;
	list-style: none;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;

}

.order-list li {
  	position: relative;
 	  display: grid;
  	width: 267px;
	  margin:0px 14px;
  	margin-bottom:19px;
}


.order-list .link-order-img {
  order:1;
}

.order-list .link-order-title {
  width: inherit;
  order: 2;
}

.link-order-title::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  top:0px;
}

.order-list .fast-view {
  margin-bottom: 10px;
  order:3;
}



.order-list h3 {
  margin-top: 8px;

	font-family: "Roboto", "Arial", sans-serif;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-white);
}

.order-list .cut {
  margin: 0;
  position: absolute;
  left: 2px;
  bottom: 87px;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-white);
}

.weight-style{
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.order-list img {
	width: 267px;
	height: 267px;
	border-radius: 50%;
}

.fast-view {
  margin: 0 auto;
	width: 200px;
	height: 44px;
	border-radius: 50px;
  box-shadow: 0px 1px 2px #AC1000;
  display: none;
	bottom: -50px;
	left:30px;
	z-index: 25;
}



.wrapper-fast-view {
  order:4;
  display: flex;
  justify-content: center;
  width: 293px;
}

.order-list li:hover .wrapper-fast-view {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:inherit;
  height: 380px;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
 	border-radius: 4px;
  z-index: 26;
  position: absolute;
}

.order-list li:hover  .fast-view{
  display: block;
}



.navigation-page {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  border: 1px solid transparent;
  margin-bottom: 39px;
}


.navigation-page a{
  padding: 0 10px;
  display: inline-block;
  min-width:26px;
  height: 26px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  color: var(--basic-white);
}

.link-navigation-next{
  text-indent: -1000px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.link-navigation-back{
  text-indent: -1000px;
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-page .current{
  color:var(--basic-black);
  background-color: var(--basic-white);
}

.navigation-page .navigation-page-element-1{
  margin-right: 9px;
}
.navigation-page .navigation-page-element-7{
  margin-left: 15px;
}


.contacts {
	padding: 0;
	margin: 0 -10px;
	border: 1px solid transparent;
	position: relative;
	width: 1200px;


}

.fb-icon,
.vk-icon,
.inst-icon,
.twit-icon {

	position: relative;
}

.fb-icon::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}


.vk-icon::before {
	content: "";
	position: absolute;

	width: 32px;
	height: 32px;
	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
}

.inst-icon::before {
	content: "";
	position: absolute;

	width: 32px;
	height: 32px;
	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
}

.twit-icon::before {
	content: "";
	position: absolute;

	width: 32px;
	height: 32px;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
}
/*Grid*/

.page {
	height: 100%;
}


.page-body {
	display: grid;
	height: 100%;
	grid-template-rows: min-content 1fr min-content;
	align-content: flex-start;
}

.main-header {
    margin:0 auto;
    display: flex;
  	justify-content: space-between;
    border: 1px solid transparent;
    position: relative;
  }

 .main-navigation{
 	flex-grow: 2;
 }

.main-navigation a{
 	flex-grow: 1;
 }


.private-office {
  position: relative;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	justify-content: flex-end;
	text-align: center;
	column-gap: 10px;
  flex-grow: 1;
}


.time-working {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  flex-grow: 1;
  position: absolute;
  top: 59px;
  right: 26px;
}


.offers {
	display: flex;
	justify-content: space-around;
}


.main-footer {
	display: flex;
	justify-content: space-between;
}


.social-list  {
  list-style: none;
	padding: 0;
  margin-left: 19px;
  margin-top: 29px;
	width: 167px;
	height: 33px;
	font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 10px;
}

.info-list {
  position: relative;
	padding: 0px;
	width:360px;
  display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	align-items: center;
}

.info-list h2{
  margin-left: 8px;
  margin-right: 17px;
  margin-bottom: 4px;
}

.flex-info-list-1::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  top: 13px;
  left: 17px;
}

.flex-info-list-1 {
  margin-left: 32px;
	order:1;
}

.flex-info-list-2 {
  margin-left: 40px;
	order:3;
}

.flex-info-list-3 {
  padding-top:1px;
	order:2;
}

.flex-info-list-4 {
  padding-left: 31px;
	order:4;
}

.copyright {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.copyright img {
	margin-top: 11px;
	margin-right: 99px;
}

.copyright .copyright-logo {
  margin: 0px;
}

.link-copyright-logo{
  margin: 0px;
  margin-right: 17px;
  margin-top: 2px;
  font-size: 12px;
  line-height: 18px;
}

.feedback-block {
  margin: 0 auto;
  padding: 0 auto;
	width: 477px;
	height: 441px;
	font-weight: bold;
	color: var(--basic-black);
	background-color: var(--basic-milk);
	border-radius: 6px;
  position: relative;
  display: ;
  z-index:21;
}

.feedback-block h2 {
	  height: 30px;
	  margin: 0px;
	  margin-top: 20px;
	  margin-bottom: 26px;
		font-size: 24px;
	  line-height: 28px;
	  margin-left: 25px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
}

.appointment-item{
	margin:0;
	margin-bottom: 20px;
	width: 267px;
	height: 44px;
	margin-left: 25px;
}

.form-question {
	margin-top: 0px;
	padding: 0px;
	height: 155px;

}
#question {
	margin-top:0px;
	width: 428px;
	height: 154px;
	margin:0 25px;
  border: 1px solid transparent;

}

.appointment-form input {
	border-radius: 4px;
	width: 267px;
	height: 44px;
	background: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
}

.appointment-form textarea {
	padding-top:0px;
	width: 428px;
  height: 154px;
	border-radius: 4px;
	background: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
}

.appointment-form button {
	position: absolute;
	color: var(--basic-white);
	font-weight: bold;
  font-size: 18px;
  line-height: 24px;
	width: 140px;
  height: 44px;
	right:25px;
	bottom:27px;
	background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
	border: 1px solid transparent;
}


.close-feedback::before {
	content: "";
	position: absolute;

	background-image: url("../img/cross-big.svg");
	background-repeat: no-repeat;
	width: 18px;
	height: 17px;
	top:15px;
	right:26px;
}

.wrapper-blog-describe {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px 17px;
}

